pkgbase = serein-bin
	pkgdesc = Unofficial native Discord client (prebuilt nightly)
	pkgver = 1.0.0pre.nightly.20261001.53
	pkgrel = 1
	url = https://github.com/ViceVerse-cz/Serein
	arch = x86_64
	license = MIT
	license = Apache-2.0
	depends = alsa-lib>=1.2.16.1-1
	depends = aom>=3.15.1-1
	depends = avahi>=1:0.9rc5-1
	depends = brotli>=1.2.0-1
	depends = bzip2>=1.0.8-6
	depends = cairo>=1.18.6-1
	depends = dav1d>=1.5.4-1
	depends = dbus
	depends = dbus>=1.16.2-1
	depends = e2fsprogs>=1.47.4-1
	depends = enchant>=2.8.21-1
	depends = expat>=2.8.5-1
	depends = flac>=1.5.0-1
	depends = fontconfig>=2:2.18.3-2
	depends = freetype2>=2.14.3-1
	depends = fribidi>=1.0.17-1
	depends = gdk-pixbuf2>=2.44.7-1
	depends = glib2>=2.88.3-1
	depends = glibc>=2.44+r50+g1848099f063e-1
	depends = glycin>=2.1.5-2
	depends = gmp>=6.3.0-3
	depends = gnutls>=3.8.13-3
	depends = graphene>=1.10.8-2
	depends = graphite>=1:1.3.15-1
	depends = gst-plugin-pipewire
	depends = gst-plugins-bad-libs>=1.28.7-2
	depends = gst-plugins-base
	depends = gst-plugins-base-libs>=1.28.7-2
	depends = gst-plugins-good
	depends = gstreamer>=1.28.7-2
	depends = gtk4>=1:4.22.5-1
	depends = harfbuzz-icu>=14.5.1-1
	depends = harfbuzz>=14.5.1-1
	depends = hidapi>=0.15.0-1
	depends = highway>=1.4.0-1
	depends = hyphen>=2.8.9-1
	depends = icu>=78.3-1
	depends = jbigkit>=2.1-8
	depends = json-glib>=1.10.8-1
	depends = keyutils>=1.6.3-4
	depends = krb5>=1.22.2-1
	depends = lame>=4.0-1
	depends = lcms2>=2.19.1-1
	depends = leancrypto>=1.9.0-1
	depends = libasyncns>=1:0.8+r3+g68cd5af-3
	depends = libatomic>=16.2.1+r23+gd564253eb6c8-1
	depends = libavif>=1.4.2-1
	depends = libcloudproviders>=0.4.1-1
	depends = libcolord>=1.4.8-1
	depends = libcups>=2:2.4.19-1
	depends = libdatrie>=0.2.14-1
	depends = libdeflate>=1.26-1
	depends = libdrm>=2.4.134-1
	depends = libelf>=0.196-1
	depends = libepoxy>=1.5.10-3
	depends = libevdev>=1.13.7-1
	depends = libffi>=3.8.0-1
	depends = libgcc>=16.2.1+r23+gd564253eb6c8-1
	depends = libgcrypt>=1.12.4-1
	depends = libglvnd
	depends = libglvnd>=1.7.0-3
	depends = libgpg-error>=1.61-1
	depends = libgudev>=238-3
	depends = libidn2>=2.3.8-1
	depends = libjpeg-turbo>=3.2.0-2
	depends = libjxl>=0.12.0-1
	depends = libmanette>=0.2.13-2
	depends = libnghttp2>=1.70.0-1
	depends = libogg>=1.3.6-1
	depends = libp11-kit>=0.26.5-1
	depends = libpng>=1.6.59-1
	depends = libpsl>=0.21.5-2
	depends = libpulse>=17.0+r98+gb096704c0-1
	depends = libseccomp>=2.6.0-1
	depends = libsecret>=0.21.8.2-1
	depends = libsndfile>=1.2.2-4
	depends = libsoup3>=3.6.6-2
	depends = libstdc++>=16.2.1+r23+gd564253eb6c8-1
	depends = libtasn1>=4.21.0-1
	depends = libthai>=0.1.30-1
	depends = libtiff>=4.7.2-1
	depends = libunistring>=1.4.2-1
	depends = libunwind>=1.8.3-1
	depends = libvorbis>=1.3.7-4
	depends = libwebp>=1.6.0-2
	depends = libx11
	depends = libx11>=1.8.13-1
	depends = libxau>=1.0.12-1
	depends = libxcb>=1.17.0-1
	depends = libxcursor
	depends = libxcursor>=1.2.3-1
	depends = libxdamage>=1.1.7-1
	depends = libxdmcp>=1.1.5-2
	depends = libxext>=1.3.7-1
	depends = libxfixes>=6.0.2-1
	depends = libxi
	depends = libxi>=1.8.3-1
	depends = libxinerama>=1.1.6-1
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbcommon>=1.13.2-1
	depends = libxml2>=2.15.4-1
	depends = libxrandr
	depends = libxrandr>=1.5.5-1
	depends = libxrender>=0.9.12-1
	depends = libxslt>=1.1.45-2
	depends = libyuv>=r2921+644251f25-1
	depends = libz.so
	depends = lzo>=2.10-5
	depends = mesa>=1:26.2.3-2
	depends = mpg123>=1.33.7-1
	depends = nettle>=4.0-1
	depends = openssl>=3.6.5-1
	depends = opus>=1.6.1-1
	depends = orc>=0.4.44-1
	depends = pango>=1:1.58.2-1
	depends = pcre2>=10.49-1
	depends = pixman>=0.46.4-1
	depends = rav1e>=0.8.1-3
	depends = sqlite>=3.53.4-1
	depends = svt-av1>=4.2.0-1
	depends = systemd-libs>=262-1
	depends = tinysparql>=3.11.1-1
	depends = tpm2-tss>=4.2.0-2
	depends = util-linux-libs>=2.42.4-1
	depends = vulkan-icd-loader
	depends = vulkan-icd-loader>=1.4.357.0-1
	depends = wayland
	depends = wayland>=1.26.0-1
	depends = webkitgtk-6.0>=2.52.6-1
	depends = xdg-desktop-portal
	depends = xz>=5.8.4-1
	depends = zstd>=1.5.7-3
	optdepends = gnome-keyring: Secret Service credential provider
	optdepends = gst-plugins-bad: hardware screen encoding
	optdepends = gst-libav: inline video
	provides = serein=1.0.0pre.nightly.20261001.53
	conflicts = serein
	conflicts = serein-git
	options = !strip
	options = !debug
	options = !lto
	source_x86_64 = https://github.com/ViceVerse-cz/Serein/releases/download/v1.0.0-nightly.20261001.53/serein-v1.0.0-nightly.20261001.53-Linux-arch-serein-1.0.0pre.nightly.20261001.53-1-x86_64.pkg.tar.zst
	sha256sums_x86_64 = 5efa3f71216cced0da707753b96007add5efc9bad256c390ecc020c5a238dfc5

pkgname = serein-bin
